!!!
%html
  %body.fixed-menu
    {% include _header.html %}
    .container
      .pitch
        %h1
          Telling stories with civic open data
        %h2
          Mila Frerichs
          %br/
          Developer, Civic Hacker, Geo- & Data-Geek
        .email-signup
          %p Join my email list to receive updates about mapping and visualizing open data and how to create stories with them. 
          %form( action = "https//www.getdrip.com/forms/59577933/submissions" data-drip-embedded-form = "59577933" method = "post" )
            .input-group
              %input.form-field( name = "fields[email]" type = "email" value = "" placeholder = "Email address" )
              %span.input-button
                %input( data-drip-attribute = "sign-up-button" name = "submit" type = "submit" value = "Subscribe" )
      %header.header
        {% include _navigation.html %}
        .search-box
          %form.search-form(action = "#" method = "get" role = "search" )
            %input#search-field(name = "s" placeholder = "type and hit enter …" type = "search" value = "" )/
      .middle.l-fixed
        .content
          {{content}}
    {% include _footer.html %}
    %script(src = "{{site.baseurl}}/assets/js/jquery-1.11.0.min.js" )
    %script(src = "{{site.baseurl}}/assets/js/jquery-migrate-1.2.1.min.js" )
    %script(src = "{{site.baseurl}}/assets/js/jquery.fitvids.js" )
    %script(src = "{{site.baseurl}}/assets/js/jquery.validate.min.js" )
    %script(src = "{{site.baseurl}}/assets/js/socialstream.jquery.js" )
    %script(src = "{{site.baseurl}}/assets/js/blog.js" )
    {% include _analytics.html %}
