\---
\layout: default
\include_home: yes
\---
#projects
  {% include social.html %}
  %h3 Projects
  .cards
    {% assign sorted_projects = (site.projects | sort: 'date' | reverse) %}
    {% for project in sorted_projects %}
    {% include _project.html project=project %}
    {% endfor %}
  %h4 APIs
  .cards
    {% for project in site.data.projects.apis %}
    {% include _project.html project=project %}
    {% endfor %}
  %h4 Other Projects
  .cards
    {% for project in site.data.projects.other %}
    {% include _project.html project=project %}
    {% endfor %}
