\---
\title: Mila Frerichs
\layout: default
\---
.home
  {% include me.html %}
  {% include projects.html %}
  {% include contribution.html %}
  {% include places.html %}
  {% include leisure.html %}
