\---
\title: Mila Frerichs
\layout: default
\---
.home
  {% include me.html %}
  {% include social.html %}
  .boxes
    .box
      {% include work.html %}
    .box
      {% include talks.html %}
    .box
      {% include contribution.html %}
