\---
\title: Mila Frerichs
\layout: home
\---
.home
  {% include opendatacourse.html %}
  .boxes
    .box
      {% include workshops.html %}
    .box
      {% include talks.html %}
    .box
      {% include work.html %}
    .box
      {% include contribution.html %}
