<footer class='footer'>
  <a name='get-in-touch'></a>
  <div class='footer-logo'></div>
  <div class='footer-links'>
    <ul>
      <li>
        <h3>Content</h3>
      </li>
      <li>
        <a href='{{site.baseurl}}/'>Overivew</a>
      </li>
      <li>
        <a href='{{site.baseurl}}/cv/'>CV</a>
      </li>
    </ul>
    <ul>
      <li>
        <h3>Get in touch</h3>
      </li>
      <li>
        <a href='http://twitter.com/mila_frerichs'>Twitter</a>
      </li>
      <li>
        <a href='http://github.com/milafrerichs/'>GitHub</a>
      </li>
    </ul>
    <ul>
      <li>
        <h3>Legal</h3>
      </li>
      <li>
        <a href='{{site.baseurl}}/legal'>Legal Notice</a>
      </li>
      <li>
        <a href='{{site.baseurl}}/legal/privacy/'>Privacy Policy</a>
      </li>
    </ul>
  </div>
  <hr>
  <p>&copy; 2015 Mila Frerichs</p>
</footer>
