<header class='centered-navigation'>
  <div class='centered-navigation-wrapper'>
    <a class='mobile-logo' href='javascript:void(0)'>
      <img alt='' src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png'>
    </a>
    <a class='centered-navigation-menu-button' href=''>MENU</a>
    <ul class='centered-navigation-menu'>
      <li class='nav-link'>
        <a href='{{site.baseurl}}/#projects'>Projects</a>
      </li>
      <li class='nav-link'>
        <a href='{{site.baseurl}}/#contributions'>Contributions</a>
      </li>
      <li class='nav-link'>
        <a href='{{site.baseurl}}/#leisure'>Leisure</a>
      </li>
      <li class='logo'>
        <a class='logo' href='javascript:void(0)'>
          <img alt='' src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png'>
        </a>
      </li>
      <li class='nav-link'>
        <a href='{{site.baseurl}}/posts'>Blog</a>
      </li>
      <li class='nav-link'>
        <a href='#get-in-touch'>Get in touch</a>
      </li>
      <li>
        <a href='{{site.baseurl}}/legal'>Legal</a>
      </li>
    </ul>
  </div>
</header>
