<!--menu-wrapper-->
<div class="menu-wrapper"> 
  
  <!--l-fixed-->
  <div class="l-fixed"> <a class="menu-toggle" href="#menu"><i class="fa fa-bars"></i></a> 
    
    <!-- menu -->
    <nav id="menu" class="menu">
      <ul>
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/blog">Blog</a>
          <ul>
            {% for category in site.categories %}
            <li><a href="{{category.url}}">{{category.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/legal">Legal Notice</a>
          <ul>
            <li><a href="{{site.baseurl}}/legal/privacy/">Privacy Policy</a></li>
          </ul>
        </li>
        <li><a href="{{site.baseurl}}/projects">Projects</a></li>
        <li><a href="{{site.baseurl}}/cv">CV</a></li>
        <li><a href="https://github.com/milafrerichs">GitHub</a></li>
        <li><a href="https://twitter.com/milafrerichs">Twitter</a></li>
        <li><a href="https://civicvision.de">Civic Vision</a></li>
      </ul>
    </nav>
    <!-- menu --> 
    {% if site.search %}
    <!--search-wrapper-->
    <div class="search-wrapper"> <a class="search-toggle"><i class="fa fa-search"></i></a> </div>
    <!--search-wrapper--> 
    {% endif %}
  </div>
  <!--l-fixed--> 
  
</div>
<!--menu-wrapper--> 
