<!--menu-wrapper-->
<div class="menu-wrapper"> 
  
  <!--l-fixed-->
  <div class="l-fixed"> <a class="menu-toggle" href="#menu"><i class="fa fa-bars"></i></a> 
    
    <!-- menu -->
    <nav id="menu" class="menu">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/blog/index.html">Blog</a></li>
        <li><a href="https://github.com/milafrerichs">GitHub</a></li>
        <li><a href="https://twitter.com/milafrerichs">Twitter</a></li>
        <li><a href="https://civicvision.de">Civic Vision</a></li>
      </ul>
    </nav>
    <!-- menu --> 
    {% if site.search %}
    <!--search-wrapper-->
    <div class="search-wrapper"> <a class="search-toggle"><i class="fa fa-search"></i></a> </div>
    <!--search-wrapper--> 
    {% endif %}
  </div>
  <!--l-fixed--> 
  
</div>
<!--menu-wrapper--> 
