<section id="dev" class="vertical-wrapper">
  <h1>Contributions</h1>
  <div class="contributions">
    <div class="civic section">
      <h2>Civic</h2>
      <div class="projects">
        <dl>
          <dt><a href="https://github.com/codeforamerica/brigade" target="_blank">Code for America Brigade</a></dt>
          <dd>Online hub for Code for America Brigade Members</dd>
        </dl>
        <dl>
          <dt><a href="https://github.com/c4hrva/c4hrva-landing" target="_blank">Code for Hampton Roads Landingpage</a></dt>
          <dd>Landing page for Code for Hampton Roads, GitHub Pages</dd>
        </dl>
        <dl class="last">
          <dt><a href="https://github.com/codeforsandiego/codeforsandiego.github.com" target="_blank">Code for San Diego Landingpage</a></dt>
          <dd>Landing page for Code for San Diego</dd>
        </dl>
        </div>
    </div>
    <div class="others section">
      <h2>Others</h2>
      <div class="projects">
        <dl>
          <dt><a href="https://github.com/ryanlecompte/letsfreckle-client" target="_blank">letsfreckle-client</a></dt>
          <dd>Ruby client for the Let's Freckle API</dd>
        </dl>
        <dl>
          <dt><a href="https://github.com/pgte/node-openni" target="_blank">node-openni</a></dt>
          <dd>OpenNI bindings for Node.js</dd>
        </dl>
        <dl class="last">
          <dt><a href="https://github.com/tbunnyman/ReadItLater-Calibre-Plugin" target="_blank">ReadItLater-Calibre-Plugin</a></dt>
          <dd>An updated &amp; modified version of the official Calibre plugin for Pocket (Formerly ReadItLater)</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
