<div id="leisure" class="vertical-wrapper">
  <span class="bg-image" >
	</span>
  <div class="inner-content">

    <h1>Leisure</h1>
    <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <div class="media">
          <div class="image-circle pull-left">
            <img class="media-object"  src="/assets/images/baseball-24@2x.png" width="48" alt="baseball">
          </div>
        <div class="media-body">
          <h4 class="media-heading">Softball &amp; Baseball</h4>
          <p>I love playing Baseball and Softball.</p>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <hr />
      </div>
    </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <div class="media">
        <div class="pull-left image-circle">
          <img class="media-object" src="/assets/images/skiing-24@2x.png" width="48" alt="baseball">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Snowboard</h4>
          <p>In the winter I ride snowboard for a few years now and really enjoying it.</p>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <hr />
      </div>
    </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <div class="media">
        <div class="pull-left image-circle">
          <img class="media-object" src="/assets/images/cafe-24@2x.png" width="48" alt="baseball">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Coffee Addict</h4>
          <p>I'm a coffee addict. I love coffe, especially espresso.</p>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <hr />
      </div>
    </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <div class="media">
        <div class="pull-left image-circle">
          <img class="media-object" src="/assets/images/fast-food-24@2x.png" width="48" alt="baseball">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Burgers</h4>
          <p>I really enjoy American Burgers. But remember to put Bacon on it.</p>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
