<a name='leisure'></a>
<div id='leisure'>
  <h1>Leisure</h1>
  <div class='activities'>
    <div class='activity'>
      <div class='activity-image'>
        <img alt='' src='{{site.baseurl}}/assets/images/baseball-24@2x.png'>
      </div>
      <div class='activity-content'>
        <h3>Softball &amp; Baseball</h3>
        <p>I love playing Baseball and Softball.</p>
      </div>
    </div>
    <div class='activity'>
      <div class='activity-image'>
        <img alt='' src='{{site.baseurl}}/assets/images/skiing-24@2x.png'>
      </div>
      <div class='activity-content'>
        <h3>Snowboard</h3>
        <p>In the winter I ride snowboard for a few years now and really enjoying it.</p>
      </div>
    </div>
    <div class='activity'>
      <div class='activity-image'>
        <img alt='' src='{{site.baseurl}}/assets/images/cafe-24@2x.png'>
      </div>
      <div class='activity-content'>
        <h3>Coffee Addict</h3>
        <p>I'm a coffee addict. I love coffe, especially espresso.</p>
      </div>
    </div>
    <div class='activity'>
      <div class='activity-image'>
        <img alt='' src='{{site.baseurl}}/assets/images/fast-food-24@2x.png'>
      </div>
      <div class='activity-content'>
        <h3>Burgers</h3>
        <p>I really enjoy American Burgers. But remember to put Bacon on it.</p>
      </div>
    </div>
  </div>
</div>
