<div id='course-signup'>
  <h3>Mapping Open Civic Data</h3>
  <p>Are you interested in civic issues and want to create interesting and beautiful maps?</p>
  <p>
    Sign Up for my
    <b>Mapping Open Civic Data</b>
    Course
  </p>
  <form action='https://www.getdrip.com/forms/47779008/submissions' data-drip-embedded-form='47779008' method='post'>
    <div>
      <input name='fields[email]' placeholder='Email address' type='email' value=''>
    </div>
    <div>
      <input data-drip-attribute='sign-up-button' name='submit' type='submit' value='Get the course'>
    </div>
  </form>
</div>
