<section id="projects" class="vertical-wrapper" >
    <div class="content">
      <h1 data-appear-top-offset="200">Projects</h1>
      <div id="signature">
        <div class="signature">
          <h3>Offener Rat Münster<span class="badge">beta</span></h3>
          <div class="signature-panel">
            <div class="panel-body">
              <img src="/assets/images/offenerrat.png" class="img-responsive img-thumbnail" alt="Offener Rat"/>
            </div>
            <div class="panel-footer">
              <span class="label label-success">Ruby on Rails</span>
              <span class="label label-info">CoffeeScript</span>
            </div>
          </div>
        </div>
        <div class="signature">
          <h3>Infrastructure San Diego<span class="badge">in Development</span></h3>
          <div class="signature-panel">
            <div class="panel-body">
              <img src="/assets/images/infrastructure.png" class="img-responsive img-thumbnail" alt="Offener Rat"/>
            </div>
            <div class="panel-footer">
              <span class="label label-success">Python</span>
              <span class="label label-info">Django</span>
            </div>
          </div>
        </div>
      </div>
  <div class="other">
    {% for project in site.projects %}
      <dl>
        <dt>{{project.title}}</dt>
        <dd>{{project.description}}</dd>
        <dd><b>Technologies:</b> {{project.technology}}</dd>
        <dd><b>Language:</b> {{project.language}}</dd>
        <dd><b>Year:</b> {{project.year}}</dd>
        <dd class="links">
          {% if project.github %}
          <a href="{{project.github}}" target="_blank" class="icon-github3" data-icon="&#e78a;">
              <span class="visuallyhidden">Github</span>
            </a>
          {% endif %}
          {% if project.url %}
            <a href="{{project.url}}" target="_blank" class="icon-earth" data-icon="&#e6c2;">
              <span class="visuallyhidden">Github</span>
            </a>
          {% endif %}
        </dd>
      </dl>
      {% endfor %}
  </div>
</div>
</section>
