<a name='projects'></a>
<div id='projects'>
  <h1>Projects</h1>
  <div class='signature-projects'>
    <div id='offener-rat'>
      <div class='device-background'>
        <div class='device-text'>
          <h4>Offener Rat Münster</h4>
          <p>Ruby on Rails</p>
          <button>Visit</button>
        </div>
        <div class='browsers'>
          <div class='browser'>
            <div class='browser-top-bar'>
              <div class='browser-circle'></div>
              <div class='browser-circle'></div>
              <div class='browser-circle'></div>
            </div>
            <div class='browser-content'></div>
          </div>
        </div>
      </div>
    </div>
    <div id='infrastructure'>
      <div class='device-background'>
        <div class='device-text'>
          <h4>Infratructure San Diego</h4>
          <p>Django</p>
          <button>Visit</button>
        </div>
        <div class='browsers'>
          <div class='browser'>
            <div class='browser-top-bar'>
              <div class='browser-circle'></div>
              <div class='browser-circle'></div>
              <div class='browser-circle'></div>
            </div>
            <div class='browser-content'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='cards'>
    {% for project in site.data.projects %}
    <div class='card'>
      <div class='ribbon-wrapper'>
        <div class='ribbon'>
          {{project.language}}
        </div>
      </div>
      <div class='card-header'>
        {{project.title}}
      </div>
      <div class='card-copy'>
        <p>{{project.description}}</p>
      </div>
      <div class='card-stats'>
        <ul>
          {% for technology in project.technologies %}
          <li>
            {{technology}}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class='card-link'>
        <a class='octicon octicon-octoface' href='{{project.github}}'>
          GitHub
        </a>
        {% if project.url %}
        <a class='octicon octicon-globe' href='{{project.url}}'>
          Preview
        </a>
        {% endif %}
      </div>
      <div class='card-year'>
        <div class='badges'>
          <div class='badge year'>
            {{project.year}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
