<div id="projects" class="vertical-wrapper">
    <div class="container">
      <h2>Projects</h2>
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <h3>Offener Rat Münster<span class="badge">beta</span></h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="/assets/images/offenerrat.png" class="img-responsive img-thumbnail" alt="Offener Rat"/>
            </div>
            <div class="panel-footer">
              <span class="label label-success">Ruby on Rails</span>
              <span class="label label-info">CoffeeScript</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <h3>Infrastructure San Diego<span class="badge">in Development</span></h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="/assets/images/infrastructure.png" class="img-responsive img-thumbnail" alt="Offener Rat"/>
            </div>
            <div class="panel-footer">
              <span class="label label-success">Python</span>
              <span class="label label-info">Django</span>
            </div>
          </div>
        </div>
      </div>
  <div class="other">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
      <ul>
        <li>Bike Accidents Visualisation
          <span class="label label-info pull-right">d3</span>
        </li>
        <li>Renewable Energy Act Visualisation
          <span class="label label-info pull-right">d3</span>
        </li>
        <li>plotmapbox
          <span class="label label-info pull-right">R package</span>
        </li>
        <li>Party mentions in ZEIT ONLINE
          <span class="label label-info pull-right">Javascript</span>
        </li>
        <li>SDUT-Ebook-Notification
          <span class="label label-info pull-right">Python</span>
        </li>
        <li>TeamPlugin
          <span class="label label-info pull-right">Wordpress Plugin</span>
        </li>
        <li>Teamlab-Member-Map
          <span class="label label-info pull-right">leaflet</span>
        </li>
      </ul>
    </div>
    </div>
  </div>
    </div>
</div>
