<ul class='social'>
  <li>
    <a href='http://github.com/milafrerichs' target='_blank'>
      <i class='fa fa-github'></i>
    </a>
  </li>
  <li>
    <a href='http://twitter.com/mila_frerichs' target='_blank'>
      <i class='fa fa-twitter'></i>
    </a>
  </li>
  <li>
    <a href='http://linkedin.com/in/milafrerichs/' target='_blank'>
      <i class='fa fa-linkedin'></i>
    </a>
  </li>
  <li>
    <a href='https://www.xing.com/profile/Mila_Frerichs' target='_blank'>
      <i class='fa fa-xing'></i>
    </a>
  </li>
</ul>
