<a name='projects'></a>
<div id='projects'>
  <h3>Recent Work</h3>
  <ul class='projects'>
    {% assign recent_projects = (site.projects | sort: 'date' | reverse) %}
    {% for project in recent_projects limit: 5 %}
    <li>
      {{project.title}}
      <a class='octicon octicon-octoface' href='{{project.github}}'>
        GitHub
      </a>
      {% if project.url %}
      <a class='octicon octicon-globe' href='{{project.link}}'>
        Preview
      </a>
      {% endif %}
      {{project.year}}
    </li>
    {% endfor %}
  </ul>
</div>
