\---
\layout: default
\include_home: yes
\---
#cv
  %h1 Mila Frerichs
  %img.me(src="{{site.baseurl}}/assets/images/mf.jpeg" )
  %h2
    Developer, Civic Hacker
    %br
    Geo- &amp; Data-Geek
  {% include social.html %}
  %h3
    %i.fa.fa-trophy
    Professional Experience
  %ul.experience
    %li
      %h4
        %b Civic Vision UG
        , Münster
      %h5 since August 2014
      %p Owner, Developer
    %li
      %h4
        %b Zweitag GmbH
        , Münster
      %h5 Feb 2013 - July 2014
      %p student trainee
    %li
      %h4
        %b Avency GmbH
        , Telgte
      %h5 Feb 2009 - Jan 2013
      %p student trainee
    %li
      %h4
        %b Institute for Geoinformatics
        , Münster
      %h5 March 2008 - Feb 2009
      %p student trainee
  %h3
    %i.fa.fa-university
    Education
  %ul
    %li
      %h4 Westfälische Wilhems-Universität Münster
      %h5 since 2005
      %p program: Geoinformatics

  %h3
    %i.fa.fa-heart
    Nonprofit Commitment
  %ul
    %li
      %h4 Code for Münster / Code for Germany
      %h5 since Feb 2014
      %p Lab Lead
    %li
      %h4 Münster Cardinals e.V.
      %h5 Feb 2010 - Feb 2014
      %p club president
    %li
      %h4 Münster Cardinals e.V.
      %h5 Feb 2009 - Feb 2014
      %p Baseball Umpire

