\---
\layout: default
\include_home: yes
\---
{% assign what = "mapping" %}
#projects
  {% include social.html %}
  %h3 Mapping Projects
  .cards
    {% if what %}
    {% include _what_projects.html %}
    {% endif %}
