#axismaps, #cv
  margin-bottom: 2em
  @include media($mobile)
    padding: 1em
  img.me
    width: 8em
    margin: 0 auto
    display: block
    border-radius: 5em
  h3
    text-shadow: 1px 1px rgba(245,245,245,.8)
    color: #747474
    margin: 1.5em 0 0.5em
  h4
    text-shadow: 1px 1px rgba(245,245,245,.8)
    color: #747474
    margin: 1.5em 0 0.5em
  .experience
    h4
      font-weight: normal
  h5
    color: #777
  .social
    margin-top: 0.5em
    margin-bottom: 0.5em
    @include span-columns(8)
    @include shift(4)
    +clearfix
    li
      float: left
      font-size: 1.5em
      margin: 0 1em
  .cards
    margin: 0

  .testimonials
    .testimonial
      position: relative
      padding: 2px 30px
      &:before, &:after
        content: "\201C"
        position: absolute
        font-size: 80px
        line-height: 1
        color: #999
        font-style: normal
      &:before
        top: 0
        left: 10px
      &:after
        content: "\201D"
        right: 10px
        bottom: -0.2em
      blockquote
        border: none
        color: #766
        font-style: italic
  .get-in-touch
    @include row()
    .calendly
      @include span-columns(3)
      @include shift(3)
    .book-me
      @include span-columns(3)

