\---
\layout: default
\title: Front End Developer - ch4Analytics
\include_home: yes
\---
#cv.ch4
  %h1 Mila Frerichs
  %img.me(src="{{site.baseurl}}/assets/images/mf.jpeg" )
  %h2
    Developer, Civic Hacker
    %br
    Geo- &amp; Data-Geek
  {% include social.html %}
  %h3 About me
  %p I'm a software developer from Münster, Germany and started my own company &raquo;Civic Vision&laquo; mid 2014.
  %h3 Testimonial
  .testimonials
    .testimonial
      %blockquote.testimonial-text
        %p Mila and I worked together on the CIP Civic Engagement App for the Council Infrastructure Committee with CM Mark Kersey. He proved himself to be an excellent and detail oriented developer with a strong grasp on both the fundamentals of iterative test driven development and automated deployment as well user centric design. He brings a broad range of skills in other areas to the table that would benefit any project or initiative. It was my pleasure to work with him and look forward to collaborating on other projects in the future.
      .testimonial-author
        %a(href="http://www.linkedin.com/in/ortelius/")Jeffrey Johnson, Senior Software Engineer, Oceanside, CA

  #skills.badges
    %h3 Skills
    .grid-items-lines
      {% for skill in site.data.skills.ch4analytics %}
      .grid-item
        %h5 {{skill.name}}
        %p
          {% for skillName in skill.skills %}
          {% assign skillType = site.data.technologies | where: 'name', skillName | first %}
          .badge(class="{{skillType.class}}")
            {{skillType.name}}
          {% endfor %}
      {% endfor %}
  %h3 Projects
  .cards
    {% assign filtered_projects = (site.projects | where: 'ch4analytics', true | sort: 'date' | reverse) %}
    {% for project in filtered_projects %}
    {% include _project.html project=project %}
    {% endfor %}

  .get-in-touch
    %h3 Get in touch
    .calendly
      %a.get-in-touch-button(href= "https://calendly.com/civicvision" target= "_blank")
        Schedule a meeting
        %span with Calendly
    .book-me
      %a.get-in-touch-button#bookme-week
        Book me
        %span for a half week
