/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* remember to define focus styles. Hee Haw */
:focus { outline: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  }

.vertical-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  float:left;
}
#main {
  text-align:center;
}
#dev {
  font-size: 100%;
}
.fullsize-bg {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.fullsize-bg .inner {
	padding-top: 63.35%; /* height/width of image */
	display: block;
	height: 0;
}
.inner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
}
#main .inner-content{
  background: rgba(55, 85, 133, 0.6);
}
#dev .inner-content {
  background:rgba(181, 91, 82, 0.6);
}
#leisure .inner-content {
  background: rgba(55, 85, 133, 0.8);
}
#main .fullsize-bg{
  background-image: url("/assets/images/gaslamp.jpg");
}
#dev .fullsize-bg{
}
.bg-image {
  display: inline-block;
	width: 100%;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
  height: 100%;
}
#dev .bg-image {
	background-image: url('/assets/images/theatre.jpg'); 
}
#leisure .bg-image {
	background-image: url('/assets/images/skiitalia.jpg'); 
}
.inner-content {
  font-size: 100%;
}
.inner-content h1 {
  font-size: 10.5em;
  line-height: 1em;
  color: #fff;
  margin: 15px;
}
.inner-content h2 {
  font-size: 5em;
  line-height: 1em;
  color: #fff;
}
#projects {
  height: 100%;
  background: rgba(49, 96, 88, 1);
  padding: 20px 0 40px;
}
#dev {
  height: 800px;
}
#leisure {
  height: 800px;
}
#places {
  height: 500px;
  background: #024a58;
}
#places #map {
  height: 100%;
  width: 100%;
  background: #024a58;
}
h1, h2 {
  text-align:center;
  color: #fff;
}
h1 {
  font-size: 10em;
}
h2 {
  font-size: 5em;
}
#main #me {
  width: 350px;
  height: 350px;
  position:relative;
  margin: 0 auto;
  opacity: 0.8;
}
#main #me:hover {
  opacity: 1;
}
#main #me img {
  opacity:0;
}
.circle-wrap {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}
#projects .panel{
  background: #F3EDDD;
}
#projects .panel-footer {
  background: #CFF4FF;
}
#projects h3 {
  color: #F3EDDD;
  font-size: 2em;
}
#projects .label {
  font-weight: normal;
}
#projects h3 .badge {
  margin: 0 0 0 5px;
  background:rgba(181, 91, 82, 1);
}
#projects .other {
}
#projects .other ul li {
  list-style:none;
  padding: 10px;
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
}
#projects .other ul li span.label {
  //margin: 0 0 0 15px;
}
#dev {
  color: #fff;
}
#dev h3 {
  font-size: 2.5em;
}
#dev .row h3{
  background: rgba(181, 91, 82, 0.8);
  padding: 10px 5px;
  border: 1px solid #F3EDDD;
}
#leisure .container {
  margin-top: 40px ;
}
#leisure .media {
  color: #fff;
}
#leisure .media .media-heading {
  margin-bottom: 10px;
  font-size: 2em;
}
#leisure .media .media-body p{
  font-size: 1.1em;
}
#leisure hr {
  margin: 25px 40px;
  border-top: 1px solid rgba(131, 156, 194, 0.7);
}
.image-circle {
  padding: 10px;
  background: #ccc;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}


#sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 20%;
  background: rgba(181, 91, 82, 0.8);
}
#sidebar-bg {
  background:url(/assets/images/skius.jpg) top center no-repeat;
  background-size: cover;
  height: 30%;
  width: 100%;
}

.sidebar-container {
  width: 80%;
  margin: 0 auto;
}
#posts {
  float: left;
  width: 74%;
  margin-left: 20%;
  padding: 20px;
  color: #333;
  background: #fefefe;
}
#posts #posts-overview li{
  list-style: none;
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
}
#posts #posts-overview .date {
  color: #aaa;
}
#posts #posts-overview h3 {
  margin: 5px 0 10px 0;
}
#posts #posts-overview p{
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
#posts h1 {
  font-size: 3em;
  color: #333;
}
#posts .intro {
  text-align: center;
}
#posts .intro .title{
  font-size: 3em;
}
#posts .intro .meta{
  font-size: 0.8em;
  color: #777;
}
#posts .article-wrapper {
  margin: 40px 20px;
}
.post-content p {
  font-size: 1.8em;
  line-height: 1.2em;
}

#posts .article-wrapper p{
  margin-bottom: 1.2em;
}
#sidebar h1 {
  font-size: 2em;
}
#sidebar h2 {
  font-size: 1.3em;
}
#sidebar #me {
  width: 50%;
  margin: -20% auto 0;
  text-align: center;
}
#sidebar .img-circle {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #eee;
}

#sidebar #social {
 margin: 30px 0;
 padding: 0;
} 
#sidebar #social li{
  list-style: none;
  text-align: center;
  padding: 10px 0;
}
#sidebar #nav {
  margin: 0;
  padding: 0 20px;
  text-align: center;
}
#sidebar #nav li{
  list-style: none;
  padding: 10px 0px;
  border-bottom: 1px solid #cecece;
}
#sidebar #nav li.last {
  border: none; 
}
#sidebar #nav li a{
  color: #fff;
  font-size: 22px;
}
