---
layout: default
---
<!-- primary -->
<div class="primary">
    <!-- blog-posts-->
    <div class="blog-posts"> 
      {% for post in site.posts %}
      <!-- HENTRY-->
      <article class="hentry"> 
        <!--ENTRY-HEADER-->
        {% if post.categories || post.category %}
          <header class="entry-header"> <span class="cat-links"> <a href="#" title="View all posts in Design" rel="category tag">Outdoor</a> / <a href="#" title="View all posts in Design" rel="category tag">Life</a> </span>
        {% endif %}
          <h1 class="entry-title"><a href="{{post.url}}">{{post.title}}</a></h1>
          <!--entry-meta-->
          <div class="entry-meta"> <span class="entry-date"> <a href="#" rel="bookmark">
                <time class="entry-date" datetime="{{post.date}}">{{ post.date | date: '%B %d, %Y' }}</time>
            </a> </span> </div>
          <!--entry-meta--> 
          {% if post.image %}
            <!--featured-->
            <div class="featured"> <a href="{{post.url}}"> <img src="images/{{% post.image }}" alt="img02"> </a> </div>
            <!--featured--> 
          {% endif %}
        </header>
        <!--ENTRY-HEADER--> 
        <!--entry-content-->
        <div class="entry-content">
          <p>{{post.excerpt}}<a href="{{post.url}}" class="more-link">Continue reading ...</a> </p>
        </div>
        <!--entry-content--> 
      </article>
      <!-- HENTRY--> 
      {% endfor %} 
    </div>
    <!-- blog-posts--> 
</div>
<!-- primary -->
