---
layout: default
include_home: yes
---
<div id='axismaps'>
  <h1>Mila Frerichs</h1>
  <img class='me' src='{{site.baseurl}}/assets/images/mf.jpeg'>
  <h2>
    Developer, Civic Hacker
    <br>
    Geo- &amp; Data-Geek
  </h2>
  {% include social.html %}
  <h3>About me</h3>
  <p>I'm a software developer from Münster, Germany and started my own company 'Civic Vision' mid 2014. With my company I want to help non-profits and governments make better use of their data, tap their full potential and help them create meaningful and creative maps and visualizations.</p>
  <h3>Testimonial</h3>
  <div class='testimonials'>
    <div class='testimonial'>
      <blockquote class='testimonial-text'>
        <p>Mila and I worked together on the CIP Civic Engagement App for the Council Infrastructure Committee with CM Mark Kersey. He proved himself to be an excellent and detail oriented developer with a strong grasp on both the fundamentals of iterative test driven development and automated deployment as well user centric design. He brings a broad range of skills in other areas to the table that would benefit any project or initiative. It was my pleasure to work with him and look forward to collaborating on other projects in the future.</p>
      </blockquote>
      <div class='testimonial-author'>
        <a href='http://www.linkedin.com/in/ortelius/'>Jeffrey Johnson, Senior Software Engineer</a>
      </div>
    </div>
  </div>
  <h3>Projects</h3>
  <h4>Mapping</h4>
  <div class='cards'>
    {% for project in site.data.mapping_projects %}
    <div class='card'>
      <div class='ribbon-wrapper'>
        <div class='ribbon'>
          {{project.year}}
        </div>
      </div>
      <div class='card-header'>
        <a href='{{project.link}}'>
          {{project.title}}
        </a>
      </div>
      <div class='card-image'>
        {% if project.image %}
        <img src='{{project.image}}'>
        {% endif %}
      </div>
      <div class='card-copy'>
        <p>
          {{project.copy}}
        </p>
      </div>
      <div class='card-link'>
        <a class='octicon octicon-octoface' href='http://github.com/{{project.github}}'>
          GitHub
        </a>
        <a class='octicon octicon-globe' href='{{project.link}}'>
          Site
        </a>
      </div>
      <div class='card-year'>
        <div class='badges'>
          {% for technology in project.technologies %}
          <div class='badge {{technology.class}}'>
            {{technology.name}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h4>APIs</h4>
  <div class='cards'>
    {% for project in site.data.projects.apis %}
    <div class='card'>
      <div class='ribbon-wrapper'>
        <div class='ribbon'>
          {{project.year}}
        </div>
      </div>
      <div class='card-header'>
        <a href='{{project.url}}'>
          {{project.title}}
        </a>
      </div>
      <div class='card-copy'>
        <p>
          {{project.copy}}
        </p>
      </div>
      <div class='card-link'>
        <a class='octicon octicon-octoface' href='http://github.com/{{project.github}}'>
          GitHub
        </a>
        <a class='octicon octicon-globe' href='{{project.url}}'>
          Site
        </a>
      </div>
      <div class='card-year'>
        <div class='badges'>
          {% for technology in project.technologies %}
          <div class='badge {{technology.class}}'>
            {{technology.name}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h4>Other Projects</h4>
  <div class='cards'>
    {% for project in site.data.projects.other %}
    <div class='card'>
      <div class='ribbon-wrapper'>
        <div class='ribbon'>
          {{project.year}}
        </div>
      </div>
      <div class='card-header'>
        <a href='{{project.url}}'>
          {{project.title}}
        </a>
      </div>
      <div class='card-copy'>
        <p>
          {{project.copy}}
        </p>
      </div>
      <div class='card-link'>
        <a class='octicon octicon-octoface' href='http://github.com/{{project.github}}'>
          GitHub
        </a>
        <a class='octicon octicon-globe' href='{{project.url}}'>
          Site
        </a>
      </div>
      <div class='card-year'>
        <div class='badges'>
          {% for technology in project.technologies %}
          <div class='badge {{technology.class}}'>
            {{technology.name}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
