\---
\layout: default
\include_home: yes
\---
{% assign node_url_parts = page.url | split: '/' %}
{% assign technology = node_url_parts | last %}
#projects
  {% include social.html %}
  %h3 Projects
  .cards
    {% for project in site.data.projects.short %}
    {% if technology %}
    {% if project.technologies contains technology %}
    .card
      .ribbon-wrapper
        .ribbon
          {{project.year}}
      .card-header
        %a(href="{{project.url}}")
          {{project.title}}
      .card-image
        {% if project.image %}
        %img(src="{{project.image}}")
        {% endif %}
      .card-copy
        %p
          {{project.copy}}
      .card-link
        %a.octicon.octicon-octoface(href="http://github.com/{{project.github}}")
          GitHub
        %a.octicon.octicon-globe(href="{{project.url}}")
          Site
      .card-year
    {% endif %}
    {% endif %}
    {% endfor %}
