\---
\layout: default
\include_home: yes
\---
{% assign node_url_parts = page.url | split: '/' %}
{% assign technology = node_url_parts | last %}
#projects
  {% include social.html %}
  %h3 Projects
  .cards
    {% if technology %}
    {% include _technology_projects.html technology=technology %}
    {% endif %}
