<!DOCTYPE html>
<html>
  <body class='fixed-menu'>
    {% include _header.html %}
    <div class='container'>
      <div class='pitch'>
        <h1>
          Telling stories with civic open data
        </h1>
        <h2>
          Mila Frerichs
          <br>
          Developer, Civic Hacker, Geo- & Data-Geek
        </h2>
        <div class='email-signup'>
          <p>Join my email list to receive updates about mapping and visualizing open data and how to create stories with them.</p>
          <form action='https://getdrip.com/forms/59577933/submissions' data-drip-embedded-form='59577933' method='post'>
            <div class='input-group'>
              <input class='form-field' name='fields[email]' placeholder='Email address' type='email' value=''>
              <span class='input-button'>
                <input data-drip-attribute='sign-up-button' name='submit' type='submit' value='Subscribe'>
              </span>
            </div>
          </form>
        </div>
      </div>
      <header class='header'>
        {% include _navigation.html %}
        <div class='search-box'>
          <form action='#' class='search-form' method='get' role='search'>
            <input id='search-field' name='s' placeholder='type and hit enter …' type='search' value=''>
          </form>
        </div>
      </header>
      <div class='middle l-fixed'>
        <div class='content'>
          {{content}}
        </div>
      </div>
    </div>
    {% include _footer.html %}
    <script src='{{site.baseurl}}/assets/js/jquery-1.11.0.min.js'></script>
    <script src='{{site.baseurl}}/assets/js/jquery-migrate-1.2.1.min.js'></script>
    <script src='{{site.baseurl}}/assets/js/jquery.fitvids.js'></script>
    <script src='{{site.baseurl}}/assets/js/jquery.validate.min.js'></script>
    <script src='{{site.baseurl}}/assets/js/socialstream.jquery.js'></script>
    <script src='{{site.baseurl}}/assets/js/blog.js'></script>
    {% include _analytics.html %}
  </body>
</html>
