---
---
<!doctype html>
<html class="fixed-menu">
  {% include _header_blog.html %}
  <body>
  
  <!-- CONTAINER -->
  <div class="container"> 
    
    <!-- HEADER -->
    <header class="header"> 
      
      <h1 class="site-title"> <a href="index.html"> Mila Frerichs </a> </h1>
      
      {% include _navigation_blog.html %}
      
      <!-- search-box -->
      <div class="search-box">
        <form role="search" method="get" class="search-form" action="#">
          <input type="search" id="search-field" placeholder="type and hit enter …" value="" name="s">
        </form>
      </div>
      <!-- search-box --> 
      
    </header>
    <!-- HEADER --> 
    
    
    
    <!-- MIDDLE -->
    <div class="middle l-fixed" > 
      
      <!-- CONTENT -->
      <div class="content"> 
        {{content}}
      </div>
      <!-- CONTENT --> 
      
    </div>
    <!-- MIDDLE --> 
    
    
    
    
  </div>
  <!-- CONTAINER --> 
  
  {% include _footer_blog.html %}
  <!-- SCRIPTS --> 
  <script src="{{site.baseurl}}/assets/js/jquery-1.11.0.min.js"></script> 
  <script src="{{site.baseurl}}/assets/js/jquery-migrate-1.2.1.min.js"></script> 
  <script src="{{site.baseurl}}/assets/js/jquery.fitvids.js"></script> 
  <script src="{{site.baseurl}}/assets/js/jquery.validate.min.js"></script> 
  <script src="{{site.baseurl}}/assets/js/socialstream.jquery.js"></script> 
  <!--all other scripts here--> 
  <script src="{{site.baseurl}}/assets/js/blog.js"></script>
  </body>
</html>
