%footer.footer
  %a(name="get-in-touch")
  .footer-logo
  .footer-links
    %ul
      %li
        %h3 Content
      %li
        %a{href: "#projects"} Projects
      %li
        %a{href: "#contributions"} Contributions
      %li
        %a{href: "#leisure"} Leisure
    %ul
      %li
        %h3 Get in touch
      %li
        %a{href: "http://twitter.com/mila_frerichs"} Twitter
      %li
        %a{href: "http://github.com/milafrerichs/"} GitHub
    %ul
      %li
        %h3 Legal
      %li
        %a{href: "{{site.baseurl}}/legal"} Privacy Policy
  %hr
  %p &copy; 2014 Mila Frerichs
