--
--
%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo{href: "javascript:void(0)"}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %a.centered-navigation-menu-button{href: ""} MENU
    %ul.centered-navigation-menu
      %li.nav-link
        %a{href: "{{site.baseurl}}/#projects"} Projects
      %li.nav-link
        %a{href: "{{site.baseurl}}/#contributions"} Contributions
      %li.nav-link
        %a{href: "{{site.baseurl}}/#leisure"} Leisure
      %li.logo
        %a.logo{href: "javascript:void(0)"}
          %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
      %li.nav-link
        %a{href: "{{site.baseurl}}/posts"} Blog
      %li.nav-link
        %a{href: "#get-in-touch"} Get in touch
      %li
        %a{href: "{{site.baseurl}}/legal"} Legal
