{% assign project = include.project %}
.card
  .ribbon-wrapper
    .ribbon
      {{project.year}}
  .card-header
    {% assign language = site.data.languages | where: 'name', project.language | first %}
    %a.devicons(class="devicons-{{language.class}}" href="{{project.link}}" target="_blank")
      {{project.title}}
  .card-image
    {% if project.image %}
    %img(src="{{project.image}}")
    {% endif %}
  .card-copy
    %p
      {{project.copy}}
  .card-link
    %a.octicon.octicon-octoface(href="http://github.com/{{project.github}}")
      GitHub
    %a.octicon.octicon-globe(href="{{project.link}}" target="_blank")
      Site
  .card-year
    .badges
      {% for technology in site.data.technologies %}
      {% if project.technologies contains technology.name %}
      .badge(class="{{technology.class}}")
        {{technology.name}}
      {% endif %}
      {% endfor %}
