{% assign filtered_projects = (site.projects | sort: 'date' | reverse) %}
{% for project in filtered_projects %}
{% if project.technologies contains include.technology %}
{% include _project.html project=project %}
{% endif %}
{% endfor %}
