%a(name="contributions")
#contribution
  %h3 Contributions
  %ul
    {% for contribution in site.data.contributions %}
    %li
      {{contribution.title}}
      %a.octicon.octicon-octoface(href="{{contribution.url}}") GitHub
    {% endfor %}
