%a(name="leisure")
#leisure
  %h1 Leisure
  .activities
    .activity
      .activity-image
        %img(alt="" src="{{site.baseurl}}/assets/images/baseball-24@2x.png")
      .activity-content
        %h3 Softball &amp; Baseball
        %p I love playing Baseball and Softball.
    .activity
      .activity-image
        %img(alt="" src="{{site.baseurl}}/assets/images/skiing-24@2x.png")
      .activity-content
        %h3 Snowboard
        %p In the winter I ride snowboard for a few years now and really enjoying it.
    .activity
      .activity-image
        %img(alt="" src="{{site.baseurl}}/assets/images/cafe-24@2x.png")
      .activity-content
        %h3 Coffee Addict
        %p I'm a coffee addict. I love coffe, especially espresso.
    .activity
      .activity-image
        %img(alt="" src="{{site.baseurl}}/assets/images/fast-food-24@2x.png")
      .activity-content
        %h3 Burgers
        %p I really enjoy American Burgers. But remember to put Bacon on it.

