#course-signup
  %h3 Mapping Open Civic Data
  %p Are you interested in civic issues and want to create interesting and beautiful maps?
  %p
    Sign Up for my
    %b Mapping Open Civic Data
    Course
  %form{:action => "https://www.getdrip.com/forms/47779008/submissions", "data-drip-embedded-form" => "47779008", :method => "post"}
    %div
      %input{:name => "fields[email]", :type => "email", :value => "", :placeholder => "Email address"}
    %div
      %input{"data-drip-attribute" => "sign-up-button", :name => "submit", :type => "submit", :value => "Get the course"}
