%a(name="projects")
#projects
  %h1 Projects
  .signature-projects
    #offener-rat
      .device-background
        .device-text
          %h4 Offener Rat Münster
          %p Ruby on Rails
          %button Visit
        .browsers
          .browser
            .browser-top-bar
              .browser-circle
              .browser-circle
              .browser-circle
            .browser-content
    #infrastructure
      .device-background
        .device-text
          %h4 Infratructure San Diego
          %p Django
          %button Visit
        .browsers
          .browser
            .browser-top-bar
              .browser-circle
              .browser-circle
              .browser-circle
            .browser-content
  .cards
    {% for project in site.data.projects %}
    .card
      .ribbon-wrapper
        .ribbon
          {{project.language}}
      .card-header
        {{project.title}}
      .card-copy
        %p {{project.description}}
      .card-stats
        %ul
          {% for technology in project.technologies %}
          %li
            {{technology}}
          {% endfor %}
      .card-link
        %a.octicon.octicon-octoface(href="{{project.github}}")
          GitHub
        {% if project.url %}
        %a.octicon.octicon-globe(href="{{project.url}}")
          Preview
        {% endif %}
      .card-year
        .badges
          .badge.year
            {{project.year}}
    {% endfor %}
