%ul.social
  {% if page.include_home %}
  %li
    %a(href="http://milafrerichs.de")
      %i.fa.fa-globe
  {% endif %}
  %li
    %a(href="http://github.com/milafrerichs" target="_blank")
      %i.fa.fa-github
  %li
    %a(href="http://twitter.com/mila_frerichs" target="_blank")
      %i.fa.fa-twitter
  %li
    %a(href="http://linkedin.com/in/milafrerichs/" target="_blank")
      %i.fa.fa-linkedin
  %li
    %a(href="https://www.xing.com/profile/Mila_Frerichs" target="_blank")
      %i.fa.fa-xing
