#workshops
  %h3 Recent Workshops
  %ul.workshops
    {% for workshop in site.data.workshops %}
    %li
      {% if workshop.canceled %}
      %del
        {% include _workshop_info.html workshop=workshop %}
      {{workshop.reason}}
      {% else %}
      {% include _workshop_info.html workshop=workshop %}
      {% endif %}

    {% endfor %}
